<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/calendar.css" />
<%- include('../partials/nav') %>

<main>
<h1><%= title  %></h1> 
<div class="container">
<div class="schedule_container">
  <div class="days_container">
    <span class="corner"></span>
    <div class="day">SUNDAY</div>
    <div class="day">MONDAY</div>
    <div class="day">TUESDAY</div>
    <div class="day">WEDNESDAY</div>
    <div class="day">THURSDAY</div>
    <div class="day">FRIDAY</div>
    <div class="day">SATURDAY</div>
  </div>
  <div class="meal_time">
    <span class="time">Breakfast</span>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
  </div>
  <div class="meal_time">
    <span class="time">Lunch</span>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
  </div>
  <div class="meal_time">
    <span class="time">Dinner</span>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
    <div class="meal"></div>
  </div>
</div>
</div>
</main>



<%- include('../partials/footer') %>