* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  line-height: 1.5;
  background-color: #50603f;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 55vw;
  max-width: 100%;
  background-color: #faf9f4;
  padding: 30px;
  margin: 20vh auto;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.6);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

#title-box {
  width: 100%;
  margin: 10px auto;
}

.ingredient-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

ul>li {
  text-align: left;
}

.delete-btn {
  background-color: transparent;
  border: 0;
  color: #50603f;
  font-weight: bold;
}

.ingredient-title,
.title-label,
.instructions-title,
.notes-title {
  font-size: 20px;
  margin: 15px auto;
  color: #50603f;
}

.text-area {
  width: 100%;
  padding: 5px 10px;
}

.btn {
  display: inline-block;
  width: 200px;
  color: #50603f;
  background-color: rgb(204, 213, 174);
  border: 1px solid rgb(204, 213, 174);
  border-radius: 10px;
}