
button {
  width: 200px;
  margin-top: 12vh;
  color: #50603f;
  background-color: rgb(204, 213, 174);
  border: 1px solid rgb(204, 213, 174);
  border-radius: 10px;
}

.new-recipe-btn {
  display: flex;
  justify-content:left; 
  margin-left: 40px;
}

body> h1 {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.recipe-card {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px 10px;
}

.card:hover {
  background-color: #FAEDCD;
}

.row {
  grid-gap: 10px 0px;
}

#footer {
  position: absolute;
}