
button {
  width: 200px;
  margin-top: 52px;
  margin-left: 50px;
}

.btn-outline-secondary{
  --bs-btn-hover-bg: #50603f;
}

.new-recipe-btn {
  display: flex;
  justify-content:left; 
  margin-left: 35px;
}

body> h1 {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-bottom: 50px;
}
.recipe-card {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px 10px;
  margin-bottom: 30px;
}

.card:hover {
  background-color: #50603f;
}

.card-link {
color: black;
}

.card-link:hover {
  color: rgb(204, 213, 174);
  font-size: 18px;
}

.row {
  grid-gap: 10px 0px;
}

#footer {
  margin-top: 30px;
  bottom: 0px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer> p {
  margin-top: 20px;
  bottom: 0px;
}

.active {
  font-weight: bold;
  color: #faf9f4;
  font-size: 26px;
}

.card{
  width: 100%;
}

.card-img-top{
  max-width: 260px;
  height: 260px;
  object-fit: cover;
  margin-bottom: 30px;
}
