* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  line-height: 1.5;
  background-color: #50603f;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-recipe-card {
  width: 55vw;
  max-width: 100%;
  background-color: #faf9f4;
  padding: 30px;
  margin: 20vh auto;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.6);
}

.card-head{
  background-color: #91a181;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  width: 100%;
  text-align: center;
}

.card-body{
  display: flex;
  flex-wrap: wrap;
}

form {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.title-label {
  font-size: 20px;
  margin: 15px auto;
  color: #50603f;
}

.left{
  font-size: 12px;
  float: left;
}

.left> p {
  font-size: 12px;
}

label {
  display: block;
}

textarea {
  display: block;
  width: 796px;
  background-color: white;
  border: 1px solid #91a181;
}


