*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  line-height: 1.5;
  background-color: #50603f;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80vw;
  max-width: 100%;
  min-height: 1000px;
  background-color: #faf9f4;
  padding: 30px;
  margin: 20vh auto;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.6);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.content,
img {
  flex: 1 1 500px;
  /* width: 50%;
  min-height: 1000px; */
  /* float: left; */
  /* border: 1px solid black; */
  padding: 0 30px;
}

.content{
  width: 100%;
  float: left;
}

.image-div{
  justify-content: center;
  width:50%
}

img {
  margin-top: 80px;
  min-width: 750px;
  height: 800px;
  object-fit: cover;
}

.top {
  width: 100%;
  display: inline;
}

.span-line{
  height: fit-content;
  text-decoration: none;
  color: #50603f;
  font-size: 18px;
  float: right;
}

.top>span {
  float: left;
  color: #50603f;
}

.span-line:hover{
  text-decoration: underline;
}

.notes-title{
  width: 100%
}

.notes-div{
  width: 100%;
  justify-content: center;
  align-items: center;
}

ul>li {
  text-align: left;
  list-style: none;
}

li::before {
  content: "\2022";
  color: #50603f;
  display: inline-block;
  font-size: 18px;
  width: 1em;
}

ul>li {
  color: black;
} 

.name {
  font-size: 15px;
  color: rgb(204, 213, 174);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: 20px;
  margin-top: -30px;
}
.recipe-title {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 30px auto;
}

.ingredient-title {
  font-size: 20px;
  margin: 18px auto;
  color: #50603f;
}

.instructions-title, 
.notes-title {
  width: 100%;
  display: inline;
  font-size: 20px;
  margin: 15px auto;
  color: #50603f;
}
/* 


.instructions-div{
  min-height: 400px;
} */



a:hover {
  color: #50603f;
}

form {
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #50603f;
  color: #faf9f4;
}